@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body{
  margin: 0;
  background-color: #282c34;
  font-family: 'Audiowide', cursive;
}
.not-auth{
  text-align: center;
  color: white;
}

.not-auth a{
  color: white;
  background: #61dafb;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 5px;
}